<H1>The Deets</H1>

<%= image_tag("download", id: "KyleCrownPic") %>

<p id="first"> My name is Kyle Kelley, I am a husband, father of two, I love the LSU Tigers(Purple and Gold Theme &#9786;), and in my free time I like to code. </p>

