 <h1> Kyle Kelley </h1>

  <nav>
    <ul>
      <li><%= link_to("My Deets" , "/about") %></li>
      <li><%= link_to("Hit me up!" , "/contact")%></li>
      <li><%= link_to("Projects" , "/portfolio")%></li>
    </ul>

  </nav>